* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

body {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    background-color: aqua;
    width: 100%;
    height: 100%;
}


.date {
    background-color: black;
    color: white;
    width: 50%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.timetable_base {
    background-color: antiquewhite;
    margin: auto;
    width: 50%;
    height: 95%;
    display: flex;
}


.timetable_column {
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
}


.timetable_column:last-child {
    border-right: 1px solid black;
}


.timetable_row {
    background-color: coral;
    width: 100%;
    height: 12.4%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.timetable_row:last-child {
    border-bottom: 0px;
}


@media (max-width: 800px) {




    .date {
        margin: auto;
        width: 80%;
    }
    
    
    .timetable_base {
        margin: auto;
        width: 80%;
    }
    
}
